/* You can add global styles to this file, and also import other style files */
/* src/styles.css */

:root {
    --gmu-green: #006633;
    --gmu-yellow: #FFCC33;
    --gmu-white: #FFFFFF;
    --gmu-dark-green: #004d26;
  }
  